/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 320px;}

.btn {
    background-color: rgb(49, 50, 51);
    min-height: 2em;
    font-family: 'Varela Round', sans-serif;
    font-size: 19px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s;

    &:hover {
        background-color: rgba(66, 73, 83);
        color: #fff;
    }

    &.large {
        min-height: 42px;
        height: 100%;
    }
}